In [1]:
import pandas as pd 
import numpy as np

In [2]:
df= pd.read_csv("plans_plan.csv")
df_1  =pd.read_csv("savings_savingsaccount.csv")
df_2 = pd.read_csv("users_customuser.csv")
df_3 = pd.read_csv("withdrawals_withdrawal.csv")

C:\Users\manca\AppData\Local\Temp\ipykernel_6596\930370680.py:2: DtypeWarning: Columns (30,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1  =pd.read_csv("savings_savingsaccount.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9641 entries, 0 to 9640
Data columns (total 56 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     9641 non-null   object
 1   name                   9635 non-null   object
 2   description            9641 non-null   object
 3   amount                 9641 non-null   int64
 4   start_date             9609 non-null   object
 5   last_charge_date       3369 non-null   object
 6   next_charge_date       5749 non-null   object
 7   created_on             9641 non-null   object
 8   frequency_id           9641 non-null   int64
 9   owner_id               9641 non-null   object
 10  status_id              9641 non-null   int64
 11  interest_rate          9641 non-null   float64
 12  withdrawal_date        816 non-null    object
 13  default_plan           9641 non-null   int64
 14  plan_type_id           9641 non-null   int64
 15  goal                   9641 non-null   float64
 16  locked                 9641 non-null   int64
 17  next_returns_date      9641 non-null   object
 18  last_returns_date      9641 non-null   object
 19  cowry_amount           9641 non-null   int64
 20  debit_card             5597 non-null   object
 21  is_archived            9641 non-null   int64
 22  is_deleted             9641 non-null   int64
 23  is_goal_achieved       9641 non-null   int64
 24  is_a_goal              9641 non-null   int64
 25  is_interest_free       9641 non-null   int64
 26  plan_group_id          2000 non-null   object
 27  is_deleted_from_group  9641 non-null   int64
 28  is_a_fund              9641 non-null   int64
 29  purchased_fund_id      1227 non-null   object
 30  is_a_wallet            9641 non-null   int64
 31  currency_is_dollars    9641 non-null   int64
 32  is_auto_rollover       9641 non-null   int64
 33  is_vendor_plan         9641 non-null   int64
 34  plan_source            9641 non-null   object
 35  is_donation_plan       9641 non-null   int64
 36  donation_description   40 non-null     object
 37  donation_expiry_date   40 non-null     object
 38  donation_link          40 non-null     object
 39  link_code              40 non-null     object
 40  charge_payment_fee     9641 non-null   int64
 41  donation_is_approved   9641 non-null   int64
 42  is_emergency_plan      9641 non-null   int64
 43  is_personal_challenge  9641 non-null   int64
 44  currency_id            9641 non-null   int64
 45  is_a_usd_index         9641 non-null   int64
 46  usd_index_id           38 non-null     object
 47  open_savings_plan      9641 non-null   int64
 48  new_cycle              9641 non-null   int64
 49  recurrence             2227 non-null   object
 50  is_bloom_note          9641 non-null   int64
 51  is_managed_portfolio   9641 non-null   int64
 52  portfolio_holdings_id  222 non-null    object
 53  is_fixed_investment    9641 non-null   int64
 54  is_regular_savings     9641 non-null   int64
 55  preset_id              566 non-null    float64
dtypes: float64(3), int64(31), object(22)
memory usage: 4.1+ MB

In [4]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163736 entries, 0 to 163735
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   id                             163736 non-null  int64
 1   savings_id                     163511 non-null  object
 2   maturity_start_date            163736 non-null  object
 3   maturity_end_date              163736 non-null  object
 4   amount                         163736 non-null  float64
 5   confirmed_amount               163736 non-null  float64
 6   deduction_amount               163736 non-null  float64
 7   new_balance                    163736 non-null  float64
 8   transaction_date               163736 non-null  object
 9   transaction_reference          163736 non-null  object
 10  transaction_status             163736 non-null  object
 11  verification_call_amount       41623 non-null   float64
 12  verification_call_message      42677 non-null   object
 13  verification_call_code         41622 non-null   float64
 14  verification_transaction_date  39660 non-null   object
 15  book_returns                   163736 non-null  float64
 16  available_returns              163736 non-null  float64
 17  returns_on_hold                163736 non-null  int64
 18  last_returns_date              163736 non-null  object
 19  next_returns_date              163736 non-null  object
 20  created_on                     163736 non-null  object
 21  card_billed_id                 158592 non-null  object
 22  channel_id                     163736 non-null  int64
 23  charging_method_id             163736 non-null  int64
 24  owner_id                       163736 non-null  object
 25  plan_id                        163736 non-null  object
 26  transaction_type_id            163736 non-null  int64
 27  verification_status_id         163736 non-null  int64
 28  gateway_response_message       160272 non-null  object
 29  fee_in_kobo                    163736 non-null  float64
 30  donor_id                       81 non-null      object
 31  is_anonymous                   163736 non-null  int64
 32  description                    4959 non-null    object
 33  payment_gateway                154118 non-null  object
 34  source_bank_account            701 non-null     object
 35  currency                       148177 non-null  object
 36  fee_in_cents                   163736 non-null  float64
dtypes: float64(10), int64(7), object(20)
memory usage: 46.2+ MB

In [5]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 57 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   password                     1854 non-null   object
 1   last_login                   1845 non-null   object
 2   is_superuser                 1867 non-null   int64
 3   id                           1867 non-null   object
 4   email                        1867 non-null   object
 5   name                         0 non-null      float64
 6   first_name                   1799 non-null   object
 7   last_name                    1799 non-null   object
 8   phone_number                 1710 non-null   object
 9   date_of_birth                851 non-null    object
 10  is_staff                     1867 non-null   int64
 11  is_active                    1867 non-null   int64
 12  date_joined                  1867 non-null   object
 13  is_admin                     1867 non-null   int64
 14  username                     1863 non-null   object
 15  created_on                   1867 non-null   object
 16  gender_id                    733 non-null    float64
 17  invite_code                  1 non-null      object
 18  avatar_firebase_reference    94 non-null     object
 19  avatar_local_uri             32 non-null     object
 20  avatar_url                   94 non-null     object
 21  risk_apetite                 1867 non-null   int64
 22  current_latitude             410 non-null    float64
 23  current_longitude            410 non-null    float64
 24  postal_address               47 non-null     object
 25  pin                          1514 non-null   object
 26  ambassador_profile_id        1467 non-null   object
 27  is_ambassador                1867 non-null   int64
 28  account_source               1867 non-null   object
 29  is_vendor_account            1867 non-null   int64
 30  is_business_account          1867 non-null   int64
 31  is_account_deleted           1867 non-null   int64
 32  vendor_code                  1867 non-null   object
 33  is_halal_account             1867 non-null   int64
 34  address_city                 40 non-null     object
 35  address_country              12 non-null     object
 36  address_state                28 non-null     object
 37  address_street               40 non-null     object
 38  monthly_expense              1867 non-null   int64
 39  monthly_salary               1867 non-null   int64
 40  is_account_disabled          1867 non-null   int64
 41  authy_id                     30 non-null     object
 42  fraud_score                  1867 non-null   int64
 43  account_campaign             32 non-null     object
 44  account_medium               338 non-null    object
 45  last_password_change         43 non-null     object
 46  last_pin_change              1477 non-null   object
 47  is_private                   1867 non-null   int64
 48  disabled_at                  20 non-null     object
 49  is_disabled_by_owner         1867 non-null   int64
 50  is_account_deleted_by_owner  1867 non-null   int64
 51  proposed_deletion_date       3 non-null      object
 52  reason_for_deletion          9 non-null      object
 53  enabled_at                   15 non-null     object
 54  signup_device                1313 non-null   object
 55  proposed_enablement_date     0 non-null      float64
 56  tier_id                      752 non-null    float64
dtypes: float64(6), int64(17), object(34)
memory usage: 831.5+ KB

In [6]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308 entries, 0 to 1307
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1308 non-null   int64
 1   amount                  1308 non-null   float64
 2   amount_withdrawn        1308 non-null   float64
 3   transaction_reference   1308 non-null   object
 4   transaction_date        1308 non-null   object
 5   new_balance             1308 non-null   float64
 6   bank_id                 1221 non-null   float64
 7   owner_id                1308 non-null   object
 8   plan_id                 1308 non-null   object
 9   transaction_channel_id  1308 non-null   int64
 10  transaction_status_id   1308 non-null   int64
 11  transaction_type_id     1308 non-null   int64
 12  fee_in_kobo             1308 non-null   int64
 13  description             99 non-null     object
 14  gateway                 195 non-null    object
 15  gateway_response        224 non-null    object
 16  session_id              0 non-null      float64
 17  currency                1308 non-null   object
 18  fee_in_cents            1308 non-null   float64
 19  payment_id              0 non-null      float64
 20  created_on              1308 non-null   object
 21  updated_on              1308 non-null   object
 22  withdrawal_intent_id    383 non-null    float64
dtypes: float64(8), int64(5), object(10)
memory usage: 235.2+ KB

### Cleaning the data

#### Plans

In [7]:
df.isnull().sum()

id                          0
name                        6
description                 0
amount                      0
start_date                 32
last_charge_date         6272
next_charge_date         3892
created_on                  0
frequency_id                0
owner_id                    0
status_id                   0
interest_rate               0
withdrawal_date          8825
default_plan                0
plan_type_id                0
goal                        0
locked                      0
next_returns_date           0
last_returns_date           0
cowry_amount                0
debit_card               4044
is_archived                 0
is_deleted                  0
is_goal_achieved            0
is_a_goal                   0
is_interest_free            0
plan_group_id            7641
is_deleted_from_group       0
is_a_fund                   0
purchased_fund_id        8414
is_a_wallet                 0
currency_is_dollars         0
is_auto_rollover            0
is_vendor_plan              0
plan_source                 0
is_donation_plan            0
donation_description     9601
donation_expiry_date     9601
donation_link            9601
link_code                9601
charge_payment_fee          0
donation_is_approved        0
is_emergency_plan           0
is_personal_challenge       0
currency_id                 0
is_a_usd_index              0
usd_index_id             9603
open_savings_plan           0
new_cycle                   0
recurrence               7414
is_bloom_note               0
is_managed_portfolio        0
portfolio_holdings_id    9419
is_fixed_investment         0
is_regular_savings          0
preset_id                9075
dtype: int64

droping columns

In [8]:
# Droping columns with too many nulls
cols_to_drop = [
    'plan_group_id', 'purchased_fund_id', 'donation_description',
    'donation_expiry_date', 'donation_link', 'link_code',
    'usd_index_id', 'portfolio_holdings_id', 'preset_id','recurrence'
]
plans_df = df.drop(columns=cols_to_drop)



# checking how many nulls remain
plans_df.isnull().sum()

id                          0
name                        6
description                 0
amount                      0
start_date                 32
last_charge_date         6272
next_charge_date         3892
created_on                  0
frequency_id                0
owner_id                    0
status_id                   0
interest_rate               0
withdrawal_date          8825
default_plan                0
plan_type_id                0
goal                        0
locked                      0
next_returns_date           0
last_returns_date           0
cowry_amount                0
debit_card               4044
is_archived                 0
is_deleted                  0
is_goal_achieved            0
is_a_goal                   0
is_interest_free            0
is_deleted_from_group       0
is_a_fund                   0
is_a_wallet                 0
currency_is_dollars         0
is_auto_rollover            0
is_vendor_plan              0
plan_source                 0
is_donation_plan            0
charge_payment_fee          0
donation_is_approved        0
is_emergency_plan           0
is_personal_challenge       0
currency_id                 0
is_a_usd_index              0
open_savings_plan           0
new_cycle                   0
is_bloom_note               0
is_managed_portfolio        0
is_fixed_investment         0
is_regular_savings          0
dtype: int64

In [9]:
plans_df.duplicated().sum()

0

filling in missing value

In [10]:
plans_df['name'] = plans_df['name'].fillna('Unnamed Plan')

In [11]:
date_cols = ['start_date', 'last_charge_date', 'next_charge_date', 'withdrawal_date']
plans_df[date_cols] = plans_df[date_cols].apply(pd.to_datetime)

C:\Users\manca\AppData\Local\Temp\ipykernel_6596\147402823.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  plans_df[date_cols] = plans_df[date_cols].apply(pd.to_datetime)
C:\Users\manca\AppData\Local\Temp\ipykernel_6596\147402823.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  plans_df[date_cols] = plans_df[date_cols].apply(pd.to_datetime)
C:\Users\manca\AppData\Local\Temp\ipykernel_6596\147402823.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  plans_df[date_cols] = plans_df[date_cols].apply(pd.to_datetime)
C:\Users\manca\AppData\Local\Temp\ipykernel_6596\147402823.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  plans_df[date_cols] = plans_df[date_cols].apply(pd.to_datetime)

In [12]:
#  Filling the  missing with a placeholder (e.g., January 1, 2000)
plans_df[date_cols] = plans_df[date_cols].fillna(pd.Timestamp('2000-01-01'))

In [13]:
plans_df['debit_card'] = plans_df['debit_card'].fillna('N/A')

In [14]:
plans_df.isnull().sum()

id                       0
name                     0
description              0
amount                   0
start_date               0
last_charge_date         0
next_charge_date         0
created_on               0
frequency_id             0
owner_id                 0
status_id                0
interest_rate            0
withdrawal_date          0
default_plan             0
plan_type_id             0
goal                     0
locked                   0
next_returns_date        0
last_returns_date        0
cowry_amount             0
debit_card               0
is_archived              0
is_deleted               0
is_goal_achieved         0
is_a_goal                0
is_interest_free         0
is_deleted_from_group    0
is_a_fund                0
is_a_wallet              0
currency_is_dollars      0
is_auto_rollover         0
is_vendor_plan           0
plan_source              0
is_donation_plan         0
charge_payment_fee       0
donation_is_approved     0
is_emergency_plan        0
is_personal_challenge    0
currency_id              0
is_a_usd_index           0
open_savings_plan        0
new_cycle                0
is_bloom_note            0
is_managed_portfolio     0
is_fixed_investment      0
is_regular_savings       0
dtype: int64

#### Savings

In [15]:
df_1.isnull().sum()

id                                    0
savings_id                          225
maturity_start_date                   0
maturity_end_date                     0
amount                                0
confirmed_amount                      0
deduction_amount                      0
new_balance                           0
transaction_date                      0
transaction_reference                 0
transaction_status                    0
verification_call_amount         122113
verification_call_message        121059
verification_call_code           122114
verification_transaction_date    124076
book_returns                          0
available_returns                     0
returns_on_hold                       0
last_returns_date                     0
next_returns_date                     0
created_on                            0
card_billed_id                     5144
channel_id                            0
charging_method_id                    0
owner_id                              0
plan_id                               0
transaction_type_id                   0
verification_status_id                0
gateway_response_message           3464
fee_in_kobo                           0
donor_id                         163655
is_anonymous                          0
description                      158777
payment_gateway                    9618
source_bank_account              163035
currency                          15559
fee_in_cents                          0
dtype: int64

In [16]:
# Drop columns with too many nulls
cols_to_drop = [
    'verification_call_amount','verification_call_message','verification_call_code','verification_transaction_date',
      'donor_id','description','source_bank_account'  
]
saving_df = df_1.drop(columns=cols_to_drop)



#  checking how many nulls remain
saving_df.isnull().sum()

id                              0
savings_id                    225
maturity_start_date             0
maturity_end_date               0
amount                          0
confirmed_amount                0
deduction_amount                0
new_balance                     0
transaction_date                0
transaction_reference           0
transaction_status              0
book_returns                    0
available_returns               0
returns_on_hold                 0
last_returns_date               0
next_returns_date               0
created_on                      0
card_billed_id               5144
channel_id                      0
charging_method_id              0
owner_id                        0
plan_id                         0
transaction_type_id             0
verification_status_id          0
gateway_response_message     3464
fee_in_kobo                     0
is_anonymous                    0
payment_gateway              9618
currency                    15559
fee_in_cents                    0
dtype: int64

In [17]:
saving_df.duplicated().sum()

0

### filling in the missing value

In [18]:
# Filling missing 'saving_id' - assuming it's a categorical ID, use placeholder
saving_df['savings_id'] = saving_df['savings_id'].fillna('unknown_savings_id')

# Fill missing 'card_billed_id' - also categorical ID
saving_df['card_billed_id'] = saving_df['card_billed_id'].fillna('no_card')

# Fill missing 'gateway_response_message' - text message, fill with "No response"
saving_df['gateway_response_message'] = saving_df['gateway_response_message'].fillna('No response')

# Fill missing 'payment_gateway' - fill with 'Unknown' or most frequent
saving_df['payment_gateway'] = saving_df['payment_gateway'].fillna('Unknown')

# Fill missing 'currency' - if most entries are the same (e.g., 'NGN'), fill with mode
currency_mode = saving_df['currency'].mode()[0]
saving_df['currency'] = saving_df['currency'].fillna(currency_mode)

In [19]:
saving_df.isnull().sum()

id                          0
savings_id                  0
maturity_start_date         0
maturity_end_date           0
amount                      0
confirmed_amount            0
deduction_amount            0
new_balance                 0
transaction_date            0
transaction_reference       0
transaction_status          0
book_returns                0
available_returns           0
returns_on_hold             0
last_returns_date           0
next_returns_date           0
created_on                  0
card_billed_id              0
channel_id                  0
charging_method_id          0
owner_id                    0
plan_id                     0
transaction_type_id         0
verification_status_id      0
gateway_response_message    0
fee_in_kobo                 0
is_anonymous                0
payment_gateway             0
currency                    0
fee_in_cents                0
dtype: int64

#### users_customers

In [20]:
df_2.isnull().sum()

password                         13
last_login                       22
is_superuser                      0
id                                0
email                             0
name                           1867
first_name                       68
last_name                        68
phone_number                    157
date_of_birth                  1016
is_staff                          0
is_active                         0
date_joined                       0
is_admin                          0
username                          4
created_on                        0
gender_id                      1134
invite_code                    1866
avatar_firebase_reference      1773
avatar_local_uri               1835
avatar_url                     1773
risk_apetite                      0
current_latitude               1457
current_longitude              1457
postal_address                 1820
pin                             353
ambassador_profile_id           400
is_ambassador                     0
account_source                    0
is_vendor_account                 0
is_business_account               0
is_account_deleted                0
vendor_code                       0
is_halal_account                  0
address_city                   1827
address_country                1855
address_state                  1839
address_street                 1827
monthly_expense                   0
monthly_salary                    0
is_account_disabled               0
authy_id                       1837
fraud_score                       0
account_campaign               1835
account_medium                 1529
last_password_change           1824
last_pin_change                 390
is_private                        0
disabled_at                    1847
is_disabled_by_owner              0
is_account_deleted_by_owner       0
proposed_deletion_date         1864
reason_for_deletion            1858
enabled_at                     1852
signup_device                   554
proposed_enablement_date       1867
tier_id                        1115
dtype: int64

In [21]:
# Columns to drop
columns_to_drop = [
    'name', 'invite_code', 'avatar_firebase_reference', 'avatar_local_uri',
    'avatar_url', 'postal_address', 'address_city', 'address_country',
    'address_state', 'address_street', 'authy_id', 'account_campaign',
    'last_password_change', 'disabled_at', 'signup_device',
    'proposed_deletion_date', 'proposed_enablement_date', 'reason_for_deletion',
    'enabled_at'
]

# Drop columns
users_df = df_2.drop(columns=columns_to_drop)

#  Checking the remaining nulls
users_df.isnull().sum()

password                         13
last_login                       22
is_superuser                      0
id                                0
email                             0
first_name                       68
last_name                        68
phone_number                    157
date_of_birth                  1016
is_staff                          0
is_active                         0
date_joined                       0
is_admin                          0
username                          4
created_on                        0
gender_id                      1134
risk_apetite                      0
current_latitude               1457
current_longitude              1457
pin                             353
ambassador_profile_id           400
is_ambassador                     0
account_source                    0
is_vendor_account                 0
is_business_account               0
is_account_deleted                0
vendor_code                       0
is_halal_account                  0
monthly_expense                   0
monthly_salary                    0
is_account_disabled               0
fraud_score                       0
account_medium                 1529
last_pin_change                 390
is_private                        0
is_disabled_by_owner              0
is_account_deleted_by_owner       0
tier_id                        1115
dtype: int64

In [22]:
users_df.duplicated().sum()

0

In [23]:

users_df['password'].fillna('not_set', inplace=True)
users_df['last_login'].fillna('Never', inplace=True)
users_df['first_name'].fillna('Unknown', inplace=True)
users_df['last_name'].fillna('Unknown', inplace=True)
users_df['phone_number'].fillna('NoPhone', inplace=True)
users_df['date_of_birth'].fillna('1900-01-01', inplace=True)
users_df['username'].fillna('anonymous', inplace=True)

# Fill gender ID with mode or -1
users_df['gender_id'].fillna(users_df['gender_id'].mode()[0], inplace=True)

# Geolocation: default to 0.0
users_df['current_latitude'].fillna(0.0, inplace=True)
users_df['current_longitude'].fillna(0.0, inplace=True)

# PIN
users_df['pin'].fillna('0000', inplace=True)

# Fill ambassador profile
users_df['ambassador_profile_id'].fillna('none', inplace=True)

# Account medium
users_df['account_medium'].fillna('unknown', inplace=True)

# Last pin change
users_df['last_pin_change'].fillna(users_df['date_joined'], inplace=True)

# Tier ID
users_df['tier_id'].fillna(-1, inplace=True)

In [24]:
# Checking for remaining nulls
users_df.isna().sum()

password                       0
last_login                     0
is_superuser                   0
id                             0
email                          0
first_name                     0
last_name                      0
phone_number                   0
date_of_birth                  0
is_staff                       0
is_active                      0
date_joined                    0
is_admin                       0
username                       0
created_on                     0
gender_id                      0
risk_apetite                   0
current_latitude               0
current_longitude              0
pin                            0
ambassador_profile_id          0
is_ambassador                  0
account_source                 0
is_vendor_account              0
is_business_account            0
is_account_deleted             0
vendor_code                    0
is_halal_account               0
monthly_expense                0
monthly_salary                 0
is_account_disabled            0
fraud_score                    0
account_medium                 0
last_pin_change                0
is_private                     0
is_disabled_by_owner           0
is_account_deleted_by_owner    0
tier_id                        0
dtype: int64

#### withdrawals

In [25]:
df_3.isnull().sum()

id                           0
amount                       0
amount_withdrawn             0
transaction_reference        0
transaction_date             0
new_balance                  0
bank_id                     87
owner_id                     0
plan_id                      0
transaction_channel_id       0
transaction_status_id        0
transaction_type_id          0
fee_in_kobo                  0
description               1209
gateway                   1113
gateway_response          1084
session_id                1308
currency                     0
fee_in_cents                 0
payment_id                1308
created_on                   0
updated_on                   0
withdrawal_intent_id       925
dtype: int64

In [26]:
# List of columns to drop
columns_to_drop = [
    'description', 'gateway', 'gateway_response', 'session_id', 'payment_id'
]

# Drop the columns
withdrawals_df = df_3.drop(columns=columns_to_drop)

#  Checking the  remaining nulls
withdrawals_df.isnull().sum().sort_values(ascending=False)

withdrawal_intent_id      925
bank_id                    87
transaction_status_id       0
updated_on                  0
created_on                  0
fee_in_cents                0
currency                    0
fee_in_kobo                 0
transaction_type_id         0
id                          0
amount                      0
plan_id                     0
owner_id                    0
new_balance                 0
transaction_date            0
transaction_reference       0
amount_withdrawn            0
transaction_channel_id      0
dtype: int64

In [27]:
withdrawals_df.duplicated().sum()

0

In [28]:
#  Filling 'withdrawal_intent_id' with placeholder string
withdrawals_df['withdrawal_intent_id'].fillna('none', inplace=True)

# Filling 'bank_id' with the most frequent bank_id (mode)
withdrawals_df['bank_id'].fillna(withdrawals_df['bank_id'].mode()[0], inplace=True)

C:\Users\manca\AppData\Local\Temp\ipykernel_6596\3682542839.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'none' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  withdrawals_df['withdrawal_intent_id'].fillna('none', inplace=True)

In [29]:
withdrawals_df.isna().sum()

id                        0
amount                    0
amount_withdrawn          0
transaction_reference     0
transaction_date          0
new_balance               0
bank_id                   0
owner_id                  0
plan_id                   0
transaction_channel_id    0
transaction_status_id     0
transaction_type_id       0
fee_in_kobo               0
currency                  0
fee_in_cents              0
created_on                0
updated_on                0
withdrawal_intent_id      0
dtype: int64

### joining only the plan and saving the table for my analysis

In [30]:
# Ensure the plan DataFrame has 'plan_id' as the column name
# (if not already renamed)
plans_df = plans_df.rename(columns={"id": "plan_id"})

# Merge on plan_id only
merged_df = plans_df.merge(saving_df, on="plan_id", how="inner")  # or use 'left'/'right'/'outer' as needed

# Show result
print(merged_df.shape)
merged_df.head()

(163736, 75)

,plan_id,name,description,amount_x,start_date,last_charge_date,next_charge_date,created_on_x,frequency_id,owner_id_x,...,charging_method_id,owner_id_y,transaction_type_id,verification_status_id,gateway_response_message,fee_in_kobo,is_anonymous,payment_gateway,currency,fee_in_cents
0,002b48c9f6ec48fdb586bd019a85aa9a,Emergency,Regular Savings,2045300,2022-04-14,2025-04-17,2025-04-24,14/4/2022 13:02:48,2,5572810f38b543429ffb218ef15243fc,...,1,5572810f38b543429ffb218ef15243fc,1,1,Approved,30679.0,0,paystack,NGN,0.0
1,002b48c9f6ec48fdb586bd019a85aa9a,Emergency,Regular Savings,2045300,2022-04-14,2025-04-17,2025-04-24,14/4/2022 13:02:48,2,5572810f38b543429ffb218ef15243fc,...,1,5572810f38b543429ffb218ef15243fc,2,1,Approved,30679.0,0,paystack,NGN,0.0
2,002b48c9f6ec48fdb586bd019a85aa9a,Emergency,Regular Savings,2045300,2022-04-14,2025-04-17,2025-04-24,14/4/2022 13:02:48,2,5572810f38b543429ffb218ef15243fc,...,1,5572810f38b543429ffb218ef15243fc,2,1,Approved,30679.0,0,paystack,NGN,0.0
3,002b48c9f6ec48fdb586bd019a85aa9a,Emergency,Regular Savings,2045300,2022-04-14,2025-04-17,2025-04-24,14/4/2022 13:02:48,2,5572810f38b543429ffb218ef15243fc,...,1,5572810f38b543429ffb218ef15243fc,2,1,Approved,30679.0,0,paystack,NGN,0.0
4,002b48c9f6ec48fdb586bd019a85aa9a,Emergency,Regular Savings,2045300,2022-04-14,2025-04-17,2025-04-24,14/4/2022 13:02:48,2,5572810f38b543429ffb218ef15243fc,...,1,5572810f38b543429ffb218ef15243fc,2,1,Approved,30679.0,0,paystack,NGN,0.0

In [31]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163736 entries, 0 to 163735
Data columns (total 75 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   plan_id                   163736 non-null  object
 1   name                      163736 non-null  object
 2   description               163736 non-null  object
 3   amount_x                  163736 non-null  int64
 4   start_date                163736 non-null  datetime64[ns]
 5   last_charge_date          163736 non-null  datetime64[ns]
 6   next_charge_date          163736 non-null  datetime64[ns]
 7   created_on_x              163736 non-null  object
 8   frequency_id              163736 non-null  int64
 9   owner_id_x                163736 non-null  object
 10  status_id                 163736 non-null  int64
 11  interest_rate             163736 non-null  float64
 12  withdrawal_date           163736 non-null  datetime64[ns]
 13  default_plan              163736 non-null  int64
 14  plan_type_id              163736 non-null  int64
 15  goal                      163736 non-null  float64
 16  locked                    163736 non-null  int64
 17  next_returns_date_x       163736 non-null  object
 18  last_returns_date_x       163736 non-null  object
 19  cowry_amount              163736 non-null  int64
 20  debit_card                163736 non-null  object
 21  is_archived               163736 non-null  int64
 22  is_deleted                163736 non-null  int64
 23  is_goal_achieved          163736 non-null  int64
 24  is_a_goal                 163736 non-null  int64
 25  is_interest_free          163736 non-null  int64
 26  is_deleted_from_group     163736 non-null  int64
 27  is_a_fund                 163736 non-null  int64
 28  is_a_wallet               163736 non-null  int64
 29  currency_is_dollars       163736 non-null  int64
 30  is_auto_rollover          163736 non-null  int64
 31  is_vendor_plan            163736 non-null  int64
 32  plan_source               163736 non-null  object
 33  is_donation_plan          163736 non-null  int64
 34  charge_payment_fee        163736 non-null  int64
 35  donation_is_approved      163736 non-null  int64
 36  is_emergency_plan         163736 non-null  int64
 37  is_personal_challenge     163736 non-null  int64
 38  currency_id               163736 non-null  int64
 39  is_a_usd_index            163736 non-null  int64
 40  open_savings_plan         163736 non-null  int64
 41  new_cycle                 163736 non-null  int64
 42  is_bloom_note             163736 non-null  int64
 43  is_managed_portfolio      163736 non-null  int64
 44  is_fixed_investment       163736 non-null  int64
 45  is_regular_savings        163736 non-null  int64
 46  id                        163736 non-null  int64
 47  savings_id                163736 non-null  object
 48  maturity_start_date       163736 non-null  object
 49  maturity_end_date         163736 non-null  object
 50  amount_y                  163736 non-null  float64
 51  confirmed_amount          163736 non-null  float64
 52  deduction_amount          163736 non-null  float64
 53  new_balance               163736 non-null  float64
 54  transaction_date          163736 non-null  object
 55  transaction_reference     163736 non-null  object
 56  transaction_status        163736 non-null  object
 57  book_returns              163736 non-null  float64
 58  available_returns         163736 non-null  float64
 59  returns_on_hold           163736 non-null  int64
 60  last_returns_date_y       163736 non-null  object
 61  next_returns_date_y       163736 non-null  object
 62  created_on_y              163736 non-null  object
 63  card_billed_id            163736 non-null  object
 64  channel_id                163736 non-null  int64
 65  charging_method_id        163736 non-null  int64
 66  owner_id_y                163736 non-null  object
 67  transaction_type_id       163736 non-null  int64
 68  verification_status_id    163736 non-null  int64
 69  gateway_response_message  163736 non-null  object
 70  fee_in_kobo               163736 non-null  float64
 71  is_anonymous              163736 non-null  int64
 72  payment_gateway           163736 non-null  object
 73  currency                  163736 non-null  object
 74  fee_in_cents              163736 non-null  float64
dtypes: datetime64[ns](4), float64(10), int64(38), object(23)
memory usage: 93.7+ MB

In [32]:
merged_df_1 = withdrawals_df.merge(users_df, left_on='owner_id', right_on='id', how='inner')

In [33]:
merged_df_1.head(5)

,id_x,amount,amount_withdrawn,transaction_reference,transaction_date,new_balance,bank_id,owner_id,plan_id,transaction_channel_id,...,monthly_expense,monthly_salary,is_account_disabled,fraud_score,account_medium,last_pin_change,is_private,is_disabled_by_owner,is_account_deleted_by_owner,tier_id
0,1,10000.0,10000.0,W52366,31/8/2016 21:23:08,4.383562e+00,1.0,0257625a02344b239b41e1cbe60ef080,671e6e5caf0f463b80123c839264de8c,1,...,0,0,0,10,unknown,27/8/2016 04:35:23,0,0,0,3.0
1,2,1500000.0,0.0,W56184,3/9/2016 16:40:18,4.001808e+04,1.0,0257625a02344b239b41e1cbe60ef080,671e6e5caf0f463b80123c839264de8c,1,...,0,0,0,10,unknown,27/8/2016 04:35:23,0,0,0,3.0
2,3,1300000.0,0.0,W56739,3/9/2016 16:42:25,4.001808e+04,1.0,0257625a02344b239b41e1cbe60ef080,671e6e5caf0f463b80123c839264de8c,1,...,0,0,0,10,unknown,27/8/2016 04:35:23,0,0,0,3.0
3,4,10000.0,10000.0,W61100,11/12/2016 10:09:20,3.296759e+07,10.0,0257625a02344b239b41e1cbe60ef080,7f960e5b3743434882ee8ddcedb9aecb,1,...,0,0,0,10,unknown,27/8/2016 04:35:23,0,0,0,3.0
4,5,12000.0,12000.0,W72359,11/12/2016 10:36:51,3.295559e+07,10.0,0257625a02344b239b41e1cbe60ef080,7f960e5b3743434882ee8ddcedb9aecb,1,...,0,0,0,10,unknown,27/8/2016 04:35:23,0,0,0,3.0

In [34]:
merged_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308 entries, 0 to 1307
Data columns (total 56 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id_x                         1308 non-null   int64
 1   amount                       1308 non-null   float64
 2   amount_withdrawn             1308 non-null   float64
 3   transaction_reference        1308 non-null   object
 4   transaction_date             1308 non-null   object
 5   new_balance                  1308 non-null   float64
 6   bank_id                      1308 non-null   float64
 7   owner_id                     1308 non-null   object
 8   plan_id                      1308 non-null   object
 9   transaction_channel_id       1308 non-null   int64
 10  transaction_status_id        1308 non-null   int64
 11  transaction_type_id          1308 non-null   int64
 12  fee_in_kobo                  1308 non-null   int64
 13  currency                     1308 non-null   object
 14  fee_in_cents                 1308 non-null   float64
 15  created_on_x                 1308 non-null   object
 16  updated_on                   1308 non-null   object
 17  withdrawal_intent_id         1308 non-null   object
 18  password                     1308 non-null   object
 19  last_login                   1308 non-null   object
 20  is_superuser                 1308 non-null   int64
 21  id_y                         1308 non-null   object
 22  email                        1308 non-null   object
 23  first_name                   1308 non-null   object
 24  last_name                    1308 non-null   object
 25  phone_number                 1308 non-null   object
 26  date_of_birth                1308 non-null   object
 27  is_staff                     1308 non-null   int64
 28  is_active                    1308 non-null   int64
 29  date_joined                  1308 non-null   object
 30  is_admin                     1308 non-null   int64
 31  username                     1308 non-null   object
 32  created_on_y                 1308 non-null   object
 33  gender_id                    1308 non-null   float64
 34  risk_apetite                 1308 non-null   int64
 35  current_latitude             1308 non-null   float64
 36  current_longitude            1308 non-null   float64
 37  pin                          1308 non-null   object
 38  ambassador_profile_id        1308 non-null   object
 39  is_ambassador                1308 non-null   int64
 40  account_source               1308 non-null   object
 41  is_vendor_account            1308 non-null   int64
 42  is_business_account          1308 non-null   int64
 43  is_account_deleted           1308 non-null   int64
 44  vendor_code                  1308 non-null   object
 45  is_halal_account             1308 non-null   int64
 46  monthly_expense              1308 non-null   int64
 47  monthly_salary               1308 non-null   int64
 48  is_account_disabled          1308 non-null   int64
 49  fraud_score                  1308 non-null   int64
 50  account_medium               1308 non-null   object
 51  last_pin_change              1308 non-null   object
 52  is_private                   1308 non-null   int64
 53  is_disabled_by_owner         1308 non-null   int64
 54  is_account_deleted_by_owner  1308 non-null   int64
 55  tier_id                      1308 non-null   float64
dtypes: float64(9), int64(22), object(25)
memory usage: 572.4+ KB