In [1]:
import pandas as pd 
import numpy as np

In [2]:
df= pd.read_csv("plans_plan.csv")
df_1  =pd.read_csv("savings_savingsaccount.csv")
df_2 = pd.read_csv("users_customuser.csv")
df_3 = pd.read_csv("withdrawals_withdrawal.csv")

C:\Users\manca\AppData\Local\Temp\ipykernel_11928\930370680.py:2: DtypeWarning: Columns (30,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1  =pd.read_csv("savings_savingsaccount.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9641 entries, 0 to 9640
Data columns (total 56 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     9641 non-null   object
 1   name                   9635 non-null   object
 2   description            9641 non-null   object
 3   amount                 9641 non-null   int64
 4   start_date             9609 non-null   object
 5   last_charge_date       3369 non-null   object
 6   next_charge_date       5749 non-null   object
 7   created_on             9641 non-null   object
 8   frequency_id           9641 non-null   int64
 9   owner_id               9641 non-null   object
 10  status_id              9641 non-null   int64
 11  interest_rate          9641 non-null   float64
 12  withdrawal_date        816 non-null    object
 13  default_plan           9641 non-null   int64
 14  plan_type_id           9641 non-null   int64
 15  goal                   9641 non-null   float64
 16  locked                 9641 non-null   int64
 17  next_returns_date      9641 non-null   object
 18  last_returns_date      9641 non-null   object
 19  cowry_amount           9641 non-null   int64
 20  debit_card             5597 non-null   object
 21  is_archived            9641 non-null   int64
 22  is_deleted             9641 non-null   int64
 23  is_goal_achieved       9641 non-null   int64
 24  is_a_goal              9641 non-null   int64
 25  is_interest_free       9641 non-null   int64
 26  plan_group_id          2000 non-null   object
 27  is_deleted_from_group  9641 non-null   int64
 28  is_a_fund              9641 non-null   int64
 29  purchased_fund_id      1227 non-null   object
 30  is_a_wallet            9641 non-null   int64
 31  currency_is_dollars    9641 non-null   int64
 32  is_auto_rollover       9641 non-null   int64
 33  is_vendor_plan         9641 non-null   int64
 34  plan_source            9641 non-null   object
 35  is_donation_plan       9641 non-null   int64
 36  donation_description   40 non-null     object
 37  donation_expiry_date   40 non-null     object
 38  donation_link          40 non-null     object
 39  link_code              40 non-null     object
 40  charge_payment_fee     9641 non-null   int64
 41  donation_is_approved   9641 non-null   int64
 42  is_emergency_plan      9641 non-null   int64
 43  is_personal_challenge  9641 non-null   int64
 44  currency_id            9641 non-null   int64
 45  is_a_usd_index         9641 non-null   int64
 46  usd_index_id           38 non-null     object
 47  open_savings_plan      9641 non-null   int64
 48  new_cycle              9641 non-null   int64
 49  recurrence             2227 non-null   object
 50  is_bloom_note          9641 non-null   int64
 51  is_managed_portfolio   9641 non-null   int64
 52  portfolio_holdings_id  222 non-null    object
 53  is_fixed_investment    9641 non-null   int64
 54  is_regular_savings     9641 non-null   int64
 55  preset_id              566 non-null    float64
dtypes: float64(3), int64(31), object(22)
memory usage: 4.1+ MB

In [4]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163736 entries, 0 to 163735
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   id                             163736 non-null  int64
 1   savings_id                     163511 non-null  object
 2   maturity_start_date            163736 non-null  object
 3   maturity_end_date              163736 non-null  object
 4   amount                         163736 non-null  float64
 5   confirmed_amount               163736 non-null  float64
 6   deduction_amount               163736 non-null  float64
 7   new_balance                    163736 non-null  float64
 8   transaction_date               163736 non-null  object
 9   transaction_reference          163736 non-null  object
 10  transaction_status             163736 non-null  object
 11  verification_call_amount       41623 non-null   float64
 12  verification_call_message      42677 non-null   object
 13  verification_call_code         41622 non-null   float64
 14  verification_transaction_date  39660 non-null   object
 15  book_returns                   163736 non-null  float64
 16  available_returns              163736 non-null  float64
 17  returns_on_hold                163736 non-null  int64
 18  last_returns_date              163736 non-null  object
 19  next_returns_date              163736 non-null  object
 20  created_on                     163736 non-null  object
 21  card_billed_id                 158592 non-null  object
 22  channel_id                     163736 non-null  int64
 23  charging_method_id             163736 non-null  int64
 24  owner_id                       163736 non-null  object
 25  plan_id                        163736 non-null  object
 26  transaction_type_id            163736 non-null  int64
 27  verification_status_id         163736 non-null  int64
 28  gateway_response_message       160272 non-null  object
 29  fee_in_kobo                    163736 non-null  float64
 30  donor_id                       81 non-null      object
 31  is_anonymous                   163736 non-null  int64
 32  description                    4959 non-null    object
 33  payment_gateway                154118 non-null  object
 34  source_bank_account            701 non-null     object
 35  currency                       148177 non-null  object
 36  fee_in_cents                   163736 non-null  float64
dtypes: float64(10), int64(7), object(20)
memory usage: 46.2+ MB

In [5]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 57 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   password                     1854 non-null   object
 1   last_login                   1845 non-null   object
 2   is_superuser                 1867 non-null   int64
 3   id                           1867 non-null   object
 4   email                        1867 non-null   object
 5   name                         0 non-null      float64
 6   first_name                   1799 non-null   object
 7   last_name                    1799 non-null   object
 8   phone_number                 1710 non-null   object
 9   date_of_birth                851 non-null    object
 10  is_staff                     1867 non-null   int64
 11  is_active                    1867 non-null   int64
 12  date_joined                  1867 non-null   object
 13  is_admin                     1867 non-null   int64
 14  username                     1863 non-null   object
 15  created_on                   1867 non-null   object
 16  gender_id                    733 non-null    float64
 17  invite_code                  1 non-null      object
 18  avatar_firebase_reference    94 non-null     object
 19  avatar_local_uri             32 non-null     object
 20  avatar_url                   94 non-null     object
 21  risk_apetite                 1867 non-null   int64
 22  current_latitude             410 non-null    float64
 23  current_longitude            410 non-null    float64
 24  postal_address               47 non-null     object
 25  pin                          1514 non-null   object
 26  ambassador_profile_id        1467 non-null   object
 27  is_ambassador                1867 non-null   int64
 28  account_source               1867 non-null   object
 29  is_vendor_account            1867 non-null   int64
 30  is_business_account          1867 non-null   int64
 31  is_account_deleted           1867 non-null   int64
 32  vendor_code                  1867 non-null   object
 33  is_halal_account             1867 non-null   int64
 34  address_city                 40 non-null     object
 35  address_country              12 non-null     object
 36  address_state                28 non-null     object
 37  address_street               40 non-null     object
 38  monthly_expense              1867 non-null   int64
 39  monthly_salary               1867 non-null   int64
 40  is_account_disabled          1867 non-null   int64
 41  authy_id                     30 non-null     object
 42  fraud_score                  1867 non-null   int64
 43  account_campaign             32 non-null     object
 44  account_medium               338 non-null    object
 45  last_password_change         43 non-null     object
 46  last_pin_change              1477 non-null   object
 47  is_private                   1867 non-null   int64
 48  disabled_at                  20 non-null     object
 49  is_disabled_by_owner         1867 non-null   int64
 50  is_account_deleted_by_owner  1867 non-null   int64
 51  proposed_deletion_date       3 non-null      object
 52  reason_for_deletion          9 non-null      object
 53  enabled_at                   15 non-null     object
 54  signup_device                1313 non-null   object
 55  proposed_enablement_date     0 non-null      float64
 56  tier_id                      752 non-null    float64
dtypes: float64(6), int64(17), object(34)
memory usage: 831.5+ KB

In [6]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308 entries, 0 to 1307
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1308 non-null   int64
 1   amount                  1308 non-null   float64
 2   amount_withdrawn        1308 non-null   float64
 3   transaction_reference   1308 non-null   object
 4   transaction_date        1308 non-null   object
 5   new_balance             1308 non-null   float64
 6   bank_id                 1221 non-null   float64
 7   owner_id                1308 non-null   object
 8   plan_id                 1308 non-null   object
 9   transaction_channel_id  1308 non-null   int64
 10  transaction_status_id   1308 non-null   int64
 11  transaction_type_id     1308 non-null   int64
 12  fee_in_kobo             1308 non-null   int64
 13  description             99 non-null     object
 14  gateway                 195 non-null    object
 15  gateway_response        224 non-null    object
 16  session_id              0 non-null      float64
 17  currency                1308 non-null   object
 18  fee_in_cents            1308 non-null   float64
 19  payment_id              0 non-null      float64
 20  created_on              1308 non-null   object
 21  updated_on              1308 non-null   object
 22  withdrawal_intent_id    383 non-null    float64
dtypes: float64(8), int64(5), object(10)
memory usage: 235.2+ KB